@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Elipses Caps";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/elipses-caps.otf") format("truetype");
}

::selection {
  background: #e0bc7c;
  color: black;
  text-shadow: none;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {
  user-select: none;
}

ul {
  list-style-type: none;
}

.absolute {
  position: absolute;
  left: 0;
  bottom: -5rem;
}

.absolute-desktop {
  position: absolute;
  left: 0;
  bottom: -6rem;
}

.sticky {
  position: sticky;
  bottom: 0;
  left: 0;
}