@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::selection {
  background: #e0bc7c;
  color: black;
  text-shadow: none;
}

html {
  overflow: hidden;
  height: 100vh;
}

body {
  position: relative;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {
  user-select: none;
}

ul {
  list-style-type: none;
}

.fixed {
  position: fixed;
  bottom: -5rem;
}

.fixed-desktop {
  position: fixed;
  bottom: -6rem;
}

.sticky {
  position: sticky;
  bottom: 0;
}